.button {
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    background-color: #9520ff;
    box-shadow: 0 5px 0 #531290;
    width: fit-content;
    padding: 10px 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 17px;
    user-select: none;
    text-align: center;
}

.button:hover {
    background-color: #9520ff;
    cursor: pointer;
}
.button:active {
    box-shadow: 0 0 0 #531290;
    transform: translateY(5px);
}

.button:not(:last-child) {
    margin-right: 5px;
}

.small-button {
    min-width: 60px;
    min-height: 20px;
    font-size: small;
}

.disabled {
    box-shadow: 0 5px 0 #53129073;
    background-color: #9320ff82;
}

.disabled:hover {
    background-color: #9320ff82;
    cursor: default;
}

.disabled:active {
    box-shadow: 0 5px 0 #53129073;
    transform: translateY(0px);
}