.container {
    display: flex;
    align-items: center;
}

.container:not(:last-child) {
    margin-right: 5px;
}

.input {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.label {
    margin-bottom: 1px;
}
