.container {
    display: flex;
    align-items: center;
}

.container:not(:last-child) {
    margin-right: 5px;
}

.input {
    width: 50px;
    margin-right: 5px;
    padding: 2.5px;
    border: 1px solid black;
    border-radius: 2px;
}

.label {
    margin-bottom: 1px;
}
